
@inherits ControlComponent
@namespace MyRent.Blazor.Web.Components

<a href=# class="button material-icons text-blue btn-no-border-back"
   style="text-decoration:none !important" @onclick:preventDefault="true"
   @onclick:stopPropagation="true" @onclick="OnClickDetail">zoom_in</a>

@code {

}
